
= render "admin/nodes/tabs"

- @page.sm_frequency||= @default_page.sm_frequency
- @page.sm_priority||= @default_page.sm_priority

= admin_form_for [:admin, @node, @page], html: {multipart: true} do |f|
  - f.options[:label_class] = "col-md-3"
  
  - unless @node.un == 'homepage'
    = f.admin_fields_for @node, field_class: "col-md-9" do |p| 
      = p.field :section_state, field_class: "col-md-2", label_class: "controls col-md-3" do
        = p.check_box :active, field_class: "col-md-9"
      
  = f.text_field :browser_title, help_inline: "Set browser title for the page"
  = f.text_area :meta_description, rows: 3, help_inline: "Set meta description for the page"
  = f.text_area :meta_keywords, rows: 3, help_inline: "Set meta keywords for the page"

  = f.select :sm_frequency, [nil, "hourly", "daily", "weekly", "monthly"], label: "Sitemap Frequency", help_inline: "Set sitemap frequency (default '#{@default_page.sm_frequency}')"
  = f.text_field :sm_priority, label: "Sitemap Priority", help_inline: "Set sitemap priority between 0 and 1 (default #{@default_page.sm_priority})"

  = f.actions cancel: false

- content_for :script do
  :javascript
    $('#page_sm_frequency').select2({search: false, width: 431, minimumResultsForSearch: -1});
