
- @node.template||= 0

= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  = f.hidden_field :kind, value: :module
  
  = f.radio_buttons :template, { "Video/Upcoming Event" => 0, "Featured Book Slider" => 1, "Photo Slider" => 2, "Social Feed" => 3 }, onchange: "onTypeChange(this.value)", field_class: "col-md-9"
  
  = f.text_field :name, required: true, help_inline: 'Set unique admin-only name for organizational purposes.'
  
  .tpl.tpl0
    = f.hidden_field :width, value: 457
    = f.hidden_field :height, value: 0
    = f.image_upload :image, required: true, width: 457
    = f.text_field :image_alt, label: 'Image Alt Text', help_inline: "Set Image Alt Text", field_class: 'col-md-4'
    
    = f.admin_fields_for @node.settings do |p|
      = p.text_area :video_embed_code, label: "Video Embed Code", help_inline: "Set Video Embed Code", field_class: "col-md-10"
    
    = f.text_field :title, help_inline: "Set Title"
    = f.text_area :description, help_inline: "Set Description", class: "ckeditor", field_class: "col-md-10"
        
  .tpl.tpl3
    = f.text_field :link_text, label: "Facebook URL", help_inline: "Set Facebook URL"
    = f.text_field :email, label: "Twitter Handle", help_inline: "Set Twitter Handle"

  = f.actions
  - content_for :script, f.validate

- content_for :script do
  :javascript
    function onTypeChange(val) {
      $('.tpl').hide();
      $('.tpl input').attr('disabled', true);
      $('.tpl' + val).show();
      $('.tpl' + val + ' input').removeAttr('disabled');
    }
    onTypeChange(#{@node.template});
