
.col-md-12
  .table-toolbar
    .btn-group
      %a.btn.btn-success{ :href => new_admin_node_path(@node) }
        Add New
        %i.fa-plus

  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '#{nodes_admin_node_path(@node)}');
    d.init({
      aoColumns: [
        {sTitle: "Template", mRender: function(data, type, row){
          var t = "";
          switch(row.template) {
            case 0: t = "Video/Upcoming Event"; break;
            case 1: t = "Featured Book Slider"; break;
            case 2: t = "Photo Slider"; break;
            case 3: t = "Social Feed";
          }
          return t;
        }},
        {sTitle: "Name", mDataProp: "name"},
        d.columns.actions({
          prepend: function(data, type, row){
            if (row.template == 1) {
              return d.button({ text: "Book Images &nbsp;", title: "Book Images", icon: "fa-book", url: "/admin/" + row.path + "/book-images" });
            } else if (row.template == 2) {
              return d.button({ text: "Images &nbsp;", title: "Images", icon: "fa-file-picture-o", url: "/admin/" + row.path + "/images" });
            } else {
              return '';
            }
          }
        })
      ]
    });
