:css
  .fileinput .thumbnail img { max-width: 400px !important; max-height: 400px !important; }
  
= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  = f.hidden_field :kind, value: :book_image
  = f.hidden_field :width, value: 220
  = f.hidden_field :height, value: 327

  = f.image_upload :image, required: true, width: 220, height: 327, value: @node.template == 0 ? @node.image_file_name : nil
  = f.text_field :image_alt, label: 'Image Alt Text', help_inline: "Set Image Alt Text", field_class: 'col-md-4'

  = f.text_field :link_url, label: "URL", help_inline: "Set URL" do
    = f.check_box :link_new_window, label: "Open the link in a new window"
  
  = f.actions
  - content_for :script, f.validate
