:css
  .fileinput .thumbnail img { max-width: 400px !important; max-height: 400px !important; }
  span.remove a, span.remove a .fa-times { font-size: 24px; color: #f00; }
  .col-md-2.checkbox_field { padding: 0;  margin-top: 7px; width: 40px }
  .fields span.fa-sort { font-size: 18px; margin-right: 25px; cursor: move; }

- settings = @node.settings
- @node.link_new_window = false if @node.new_record?
  
  
= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|  
  = f.hidden_field :kind, value: :book
  = f.hidden_field :width, value: 228

  = f.image_upload :image, required: true, width: 228
  = f.text_field :image_alt, label: 'Image Alt Text', help_inline: "Set Image Alt Text", field_class: 'col-md-4'
  
  = f.text_field :title, help_inline: "Set Title", field_class: "col-md-10"
  = f.text_area :description, help_inline: "Set Description Text", class: "ckeditor", field_class: "col-md-10"
    
  %br/
  - buy_links_node = @node.nodes.find_or_initialize_by(kind: :buy_links, name: "Buy Links")
  
  = f.admin_fields_for :nodes, buy_links_node do |b|
    = b.hidden_field :name, value: "Buy Links"
    = b.hidden_field :kind, value: :buy_links
    
    - (4 - (buy_links_node.new_record? ? 0 : buy_links_node.nodes.count)).times { buy_links_node.nodes.build(kind: :buy_link) }
    .row
      %label.control-label.col-md-2 Buy Links
      .col-md-10
        .buy_links.sortable
          = b.admin_fields_for :nodes, buy_links_node.nodes.where(kind: :buy_link).order(:weight) do |p|
            = render "admin/nodes/show/buy_link_fields", f: p
        .add= link_to_add_fields "<i class='fa-plus'></i> Add Buy Link".html_safe, b, :nodes, 'admin/nodes/show/', {}, class: "btn btn-warning", kind: :buy_links
  %br/
  %br/
  = f.field :link_new_window, label: "&nbsp;".html_safe do
    = f.check_box :link_new_window, label: "<strong>Has Individual Page</strong>".html_safe, class: "has_page_checker"
    
  .has_page{ style: @node.link_new_window ? nil : 'display: none' }
  
    %h2 Left Column
    = f.admin_fields_for settings do |p|
      = p.text_area :awards, class: "ckeditor", field_class: "col-md-10"
    
    %br/
    - social_links_node = @node.nodes.find_or_initialize_by(kind: :social_links, name: "Social Links")
  
    = f.admin_fields_for :nodes, social_links_node do |b|
      = b.hidden_field :name, value: "Social Links"
      = b.hidden_field :kind, value: :social_links
      
      - (4 - (social_links_node.new_record? ? 0 : social_links_node.nodes.count)).times { social_links_node.nodes.build(kind: :social_link) }
      .row
        %label.control-label.col-md-2 Social Links
        .col-md-10
          .social_links.sortable
            = b.admin_fields_for :nodes, social_links_node.nodes.where(kind: :social_link).order(:weight) do |p|
              = render "admin/nodes/show/social_link_fields", f: p
          .add= link_to_add_fields "<i class='fa-plus'></i> Add Social Link".html_safe, b, :nodes, 'admin/nodes/show/', {}, class: "btn btn-warning", kind: :social_links
    
    %br/
    
    %h2 Right Column
    = f.admin_fields_for settings do |p|
      = p.text_field :title, help_inline: "Set Title for the right column", field_class: "col-md-10"
      = p.text_area :text, help_inline: "Set Text for the right column", class: "ckeditor", field_class: "col-md-10"
      = p.text_area :embed_code, label: "Video Embed Code (1280x720px)", placeholder: "Video Embed Code", help_inline: "Set Video Embed Code. Recommended size is 1280 x 720 pixels.", rows: 3, field_class: "col-md-10"
    
    - unless @node.new_record?
      %h2 Bottom
      .row
        %label.control-label.col-md-2 Praise
        %label.control-label.col-md-9{ style: "text-align: left" }
          = link_to "Manage Praise Items (#{ @node.children(:praise_items).count })", "/admin/" + @node.path + "/praise"
      .row
        %label.control-label.col-md-2 News
        %label.control-label.col-md-9{ style: "text-align: left" }
          = link_to "Manage News Items (#{ @node.children(:news_items).count })", "/admin/" + @node.path + "/news"
      .row
        %label.control-label.col-md-2 Modules
        %label.control-label.col-md-9{ style: "text-align: left" }
          = link_to "Manage Modules (#{ @node.children(:modules).count })", "/admin/" + @node.path + "/modules"
      
  = f.actions
  - content_for :script, f.validate


- content_for :script do
  :javascript
    $('.has_page_checker').parents('.checkbox').on('click', function(){
      if ($(this).find('input:checkbox').is(':checked')) {
        $('.has_page').show();
      } else {
        $('.has_page').hide();
      }
    });
    
    $('.sortable').sortable({
      handle: '.fa-sort',
      update: function(event, ui){
        $(this).children('.fields').each(function(index){
          $(this).find('input.item_weight').first().val(index + 1);
        });
      }
    });
    