
.col-md-12      
  .table-toolbar
    .btn-group
      %a.btn.btn-success{ :href => new_admin_node_path(@node) }
        Add New
        %i.fa-plus

  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '#{nodes_admin_node_path(@node)}');
    d.init({
      reordering: true,
      aoColumns: [
        {sTitle: "Image", mRender: function(data, type, row) {
          return "<img src='" + row.image + "' style='max-width: 600px; max-height: 250px;' />";
        }},
        {sTitle: "Text", mRender: function(data, type, row) {
          return "<h4><strong>" + (row.title || '') + "</strong></h4>" + (row.description || '');
        }},
        {sTitle: "Has Page", sClass: "center", mRender: function(data, type, row) {
          if (row.link_new_window) {
            return '<span class="fa fa-check" style="font-size: 20px; color: green"></span> <strong style="font-size: 14px">Yes</strong>';
          } else {
            return '<span class="fa fa-times" style="font-size: 20px; color: red"></span> <strong style="font-size: 14px">No</strong>';
          }
        }},
        d.columns.actions()
      ]
    });