:css
  .help-inline { display: block }
  .clear { clear: both }
  .checkboxes label.col-md-3 { margin-bottom: 0; padding: 7px 0 0; }

= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  = f.hidden_field :kind, value: :event
  = f.hidden_field :width, value: 146
  = f.hidden_field :height, value: 0
  
  = f.field :state do
    = f.check_box :active
        
  = f.image_upload :image, width: 146, required: true, removeable: false
  = f.text_field :image_alt, label: 'Image Alt Text', help_inline: 'Set Image Alt Text', field_class: "col-md-4"
    
  = f.date_field :node_date, label: "Date", help_inline: "Set Event Date"
  
  = f.text_field :title, help_inline: "Set Title"
  
  = f.text_area :description, label: "Text", help_inline: "Set Text", class: "ckeditor", field_class: "col-md-10"
  
  = f.text_field :link_url, label: "URL", help_inline: "Set URL" do
    = f.check_box :link_new_window, label: "Open the link in a new window"
              
  = f.actions
  - content_for :script, f.validate