
.col-md-12
  .table-toolbar
    .btn-group
      %a.btn.btn-success{ :href => new_admin_node_path(@node) }
        Add New
        %i.fa-plus
      
  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '#{nodes_admin_node_path(@node)}');
    d.init({
      aoSorting: [2, 'desc'],
      aoColumns: [
        {sTitle: "Image", bSortable: false, mRender: function(data, type, row) {
          return "<img src='" + row.image + "' />";
        }},
        {sTitle: "Text", mRender: function(data, type, row) {
          return (row.date || '') + "<h4><strong>" + (row.title || '') + "</strong></h4>" + (row.description || '');
        }},
        {sTitle: "URL", bSortable: false, mRender: function(data, type, row){
          if (row.link_url.length) {
            return '<a href="' + row.link_url + '" target="_blank">' + (row.link_url.length > 50 ?  (row.link_url.substr(0, 50) + '...') : row.link_url) + '</a><br /><em>' + (row.link_new_window ? 'new' : 'same') +  ' window</em>';
          } else {
            return '';
          }
        }},
        d.columns.actions()
      ]
    });
