:css
  .help-inline { display: block }
  .clear { clear: both }
  .checkboxes label.col-md-3 { margin-bottom: 0; padding: 7px 0 0; }

= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  = f.hidden_field :kind, value: :generic_page
    
  = f.field :state do
    = f.check_box :active
  
  = f.text_field :name, required: true, help_inline: "Set Name to generate URL"
  
  = f.text_field :title, label: "Title", help_inline: "Set Title"
  = f.text_area :description, label: 'Text', help_inline: "Set Text", rows: 8, class: "ckeditor", field_class: "col-md-10"
      
  = f.actions
  - content_for :script, f.validate
