
.col-md-12
  .table-toolbar
    .btn-group
      %a.btn.btn-success{ :href => new_admin_node_path(@node) }
        Add New
        %i.fa-plus
      
  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '#{nodes_admin_node_path(@node)}');
    d.init({
      aaSorting: [1, 'asc'],
      aoColumns: [
        {sTitle: "Title", mDataProp: "title"},
        {sTitle: "URL", mRender: function(data, type, row) {
          return '<a href="/' + row.slug + '">/' + row.slug + '</a>';
        }},
        d.columns.actions()
      ]
    });
