:css
  #data-table tr td {max-height:200px; overflow: hidden;}
  #data-table tr td .slide {max-height:200px; overflow: hidden; position: relative; text-align: center;}
  #data-table tr td .slide strong {text-transform: uppercase;}
  #data-table tr td .slide div {position:absolute; background:#eee; left: 0; width:736px; height:67px; padding:8px; opacity:0.6; margin-top:133px; white-space: normal; overflow: hidden;}

.col-md-12
  -# .clearfix.margin-bottom-10
    Slideshow Timeout:
    = link_to "", "", "data-value" => @node.settings.slideshow_timeout, :id => "slideshow_timeout"
      
  .table-toolbar
    .btn-group
      %a.btn.btn-success{ :href => new_admin_node_path(@node) }
        Add New
        %i.fa-plus

  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '#{nodes_admin_node_path(@node)}');
    d.init({
      reordering: true,
      aoColumns: [
        {sTitle: "Image", mRender: function(data, type, row) {
          return "<div class='slide'><img src='" + row.image + "' style='max-width: 600px; max-height: 250px;' /></div>";
        }},
        d.columns.actions()
      ]
    });

-#    
    $('#slideshow_timeout').editable({
      inputclass: 'form-control input-medium',
      type: "text",
      title: "Slideshow Timeout in seconds (default: 1)",
      pk: 1,
      name: "slideshow_timeout",
      url: "/admin/settings?node_id=#{@node.id}",
      validate: function(v) {if (isNaN(v*1) || v*1 != parseFloat(v)) return "Number required";}
    });