:css
  .fileinput .thumbnail img { max-width: 400px !important; max-height: 400px !important; }
  
= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  = f.hidden_field :kind, value: :image
  
  = f.hidden_field :width, value: 246
  = f.hidden_field :height, value: 246
  
  = f.image_upload :image, removeable: false, required: true, width: 246, height: 246
  = f.text_field :image_alt, label: "Image Alt Text", help_inline: "Set Image Alt Text", field_class: "col-md-4"
    
  = f.actions
  - content_for :script, f.validate
