
.col-md-12
  .table-toolbar
    .btn-group
      %a.btn.btn-success{ :href => new_admin_node_path(@node) }
        Add New
        %i.fa-plus
      
  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '#{nodes_admin_node_path(@node)}');
    d.init({
      reordering: true,
      aoColumns: [
        {sTitle: "Name", mDataProp: "name"},
        {sTitle: "Link", mRender: function(data, type, row) {
          var link_url = row.link_url ? (row.link_url.indexOf('http') == 0 || row.link_url.indexOf('/') == 0? row.link_url : ('http://' + row.link_url)) : '';
          var link_text = row.link_url ? (row.link_url.length > 50 ? (row.link_url.substr(0, 50) + '...') : row.link_url) : '';
          return '<a href="' + link_url + '" target="_blank">' + link_text + '</a>';
        }},
        d.columns.actions()
      ]
    });