  
= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  
  = f.text_field :name, label: "Link Text", help_inline: "Set Link Text", required: true
  = f.text_field :link_url, label: "Link URL", help_inline: "Set Link URL", required: true do
    = f.check_box :link_new_window, label: "Open the link in a new window"
      
  = f.actions
  - content_for :script, f.validate
