
.col-md-12
  .table-toolbar
    - modules = Node.find_by_path("global/modules").nodes.where(active: true).where.not("id in (?)", @node.nodes.pluck(:reference_node_id) + [0]).order(:name).pluck(:name, :id)
    - if modules.count > 0
      - @new_node = @node.nodes.build
      = admin_form_for [:admin, @new_node], url: admin_node_path(@node), label_class: "col-md-2", field_class: "col-md-4" do |f|
        = f.hidden_field :name, value: "module"
        .col-md-6
          = f.select :reference_node_id, modules, label: "Module"
        %button.btn.btn-success
          Add
          %i.fa-plus
  %table#data-table


- content_for :script do
  :javascript
    $("#node_reference_node_id").select2({width: 300});
    var d = datatables('#data-table', '#{nodes_admin_node_path(@node)}');
    d.init({
      reordering: true,
      onDelete: function() {self.location = '#{admin_node_path(@node)}'},
      aoColumns: [
        {sTitle: "Name", mRender: function(data, type, row) {
          return row.reference_node && row.reference_node.name;
        }},
        d.columns.actions({edit: false})
      ]
    });
