:css
  .help-inline { display: block }
  .clear { clear: both }
  .checkboxes label.col-md-3 { margin-bottom: 0; padding: 7px 0 0; }

- @node.template ||= 0

= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  = f.hidden_field :kind, value: :news_item
  = f.hidden_field :width, value: 146
  
  = f.field :state do
    = f.check_box :active
      
  = f.image_upload :image, width: 146, label: "Logo"
  = f.text_field :image_alt, label: 'Logo Alt Text', help_inline: 'Set Logo Alt Text', field_class: "col-md-4"
  
  = f.radio_buttons :template, { "URL" => 0, "PDF" => 1 }, inline: true, label: "Link Type", onchange: "onTypeChange(this.value);"
  
  .tpl.tpl0
    = f.text_field :link_url, label: "URL", help_inline: "Set Optional URL" do
      = f.check_box :link_new_window, label: "Open the link in a new window"
  .tpl.tpl1
    = f.hidden_field :attachment_type, value: :pdf
    = f.file_upload :attachment, label: "PDF", help_inline: "Upload PDF file to link to."
      
  = f.actions
  - content_for :script, f.validate

- content_for :script do
  :javascript
    function onTypeChange(val) {
      $('.tpl').hide();
      $('.tpl input').attr('disabled', true);
      $('.tpl' + val).show();
      $('.tpl' + val + ' input').removeAttr('disabled');
    }
    onTypeChange(#{@node.template});
