
.col-md-12
  .table-toolbar
    .btn-group
      %a.btn.btn-success{ :href => new_admin_node_path(@node) }
        Add New
        %i.fa-plus
      
  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '#{nodes_admin_node_path(@node)}');
    d.init({
      reordering: true,
      aoColumns: [
        {sTitle: "Logo", bSortable: false, mRender: function(data, type, row){
          if (row.image != "/images/default/missing.png")
            return "<div class='slide'><img src='" + row.image + "' style='max-height: 150px;' /></div>";
          else
            return '';
        }},
        {sTitle: "Link", bSortable: false, mRender: function(data, type, row){
          var url = row.template == 1 ? row.attachment_url : row.link_url;
          var link_text = url ? (url.length > 50 ? (url.substr(0, 50) + '...') : url) : '';
          
          if (url.length) {
            return (row.template == 1 ? 'PDF: ' : 'URL: ') + '<a href="' + url + '" target="_blank">' + link_text + '</a><br />' + (row.template == 1 ? '' : ('<em>' + (row.link_new_window ? 'new' : 'same') +  ' window</em>'));
          } else {
            return '';
          }
        }},
        d.columns.actions()
      ]
    });
