
= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  = f.hidden_field :kind, value: :praise_item
  
  = f.field :state do
    = f.check_box :active
  
  = f.text_field :name, required: true, help_inline: "Set Name for organizational purposes in admin"
  = f.text_area :description, help_inline: "Set Text", class: "ckeditor", field_class: "col-md-10"
  
  = f.actions
  - content_for :script, f.validate
    