
= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  = f.hidden_field :kind, value: :social_media_item
  
  = f.text_field :name, required: true, help_inline: 'Set Name'
  
  = f.text_field :title, label: "Facebook URL", placeholder: "facebook.com/example", help_inline: 'Set Facebook URL'
  = f.text_field :link_url, label: "Twitter Handle", placeholder: "@example", help_inline: 'Set Twitter Handle'
  
  = f.actions
  - content_for :script, f.validate
