.fields.row
  = f.hidden_field :kind, value: :social_link
  = f.hidden_field :weight, class: 'item_weight'
  
  .col-md-4{ style: "padding-right: 0" }= f.text_field :name, label: "", placeholder: "Link Text", field_class: "col-md-12"
  .col-md-6
    .col-md-10= f.text_field :link_url, label: "", placeholder: 'Link URL', field_class: "col-md-12"
    .col-md-2.checkbox_field= f.check_box :link_new_window, label: '<span class="fa-external-link"></span>'.html_safe, field_class: "col-md-12"
  %span.fa.fa-sort
  %span.remove= link_to_remove_fields '<span class="fa fa-times">'.html_safe, f