
= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
      
  = f.text_field :name, label: "Tag", help_inline: 'Set Tag Title', required: true
    
  = f.actions
  - content_for :script, f.validate
