
= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true, class: "main_form"} do |f|
  = f.hidden_field :kind, value: :video
  = f.hidden_field :width, value: 485
  = f.hidden_field :height, value: 296
    
  = f.text_field :name, required: true, help_inline: 'Set Video Name'
  
  = f.text_area :description, required: true, label: 'Embed Code', rows: 4, help_inline: "Set Video Embed Code. Recommended size is 485 x 296 pixels."
  
  = f.image_upload :image, width: 485, height: 296, label: 'Video Thumb'
  = f.text_field :image_alt, label: 'Thumb Alt Text', help_inline: 'Set Video Thumb Alt Text', field_class: "col-md-4"
  
  - related_ids = @node.related_ids
  = f.field :tags do
    - tags = Node.find_by_un(:tags).children.order(:name).pluck(:name, :id)
    = select_tag :related_nodes, options_for_select(get_tag_selectables(tags, related_ids), selected: related_ids), class: "multiselect", multiple: true, style: "width: 430px; height: 200px"
    .help-inline Select and rearrange tags

  = f.actions
  - content_for :script, f.validate

- content_for :script do
  :javascript
    $('.multiselect').multiselect();
    
    $(function(){
      $("form.main_form").dirtyForms('setClean');
    });
