
= admin_form_for [:admin, @icon], html: {class: "form-horizontal"} do |f|
  .form-group
    %label.col-md-2{ style: "text-align:right"} File Name
    .col-md-6= @icon.filename
  %br/
  = f.image_upload :icon, width: @icon.width, height: @icon.height, retina: false

  = f.actions
  - content_for :script, f.validate
