:css
  #data-table tr td {height:90px; overflow: hidden;}
  #data-table td.valign-top {vertical-align: top !important; white-space: normal;}

.col-md-12
  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '/admin/icons');
    d.init({
      sDom: 'rft',
      aoColumns: [
        {sTitle: "Icon", sClass: "center", sWidth: "10%", bSortable: false, mRender: function(data, type, row) {
          return row.exists ? "<img src='" + row.icon + "' style='max-width:64px; max-height:64px;' />" : "None";
        }},
        {sTitle: "Name", bSortable: false, mRender: function(data, type, row) {
          return "<a href='/" + row.filename + "' target='new'>" + $.esc(row.name) + " (" + row.width + "x" + row.height + "px)" + (row.required ? " (required)" : "") + "</a>";
        }},
        {sTitle: "File Name", sWidth: "40%", bSortable: false, mDataProp: "filename"},
        d.columns.actions({toggle: false, trash: false})
      ]
    });
