
/* custom */
.center {text-align: center}
.align-right {text-align: right;}
.nowrap {white-space: nowrap !important;}
.table .reorder {cursor:move;}

.form-group .controls > .checkbox {margin-top:7px;}

.form-actions {border-radius: 0 0 6px 6px;}
.dataTable td.valign-top {vertical-align: top !important; white-space: normal;}
.table-scrollable > .table > tbody > tr > td {white-space:normal;}
img.rounded {border-radius:4px; box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);}
.fileinput div {-moz-box-sizing: content-box;}

.ie9 .page-boxed > .container {margin-top: 60px !important;}

.controls .validate-success {margin:0px !important;}
.fileinput .thumbnail > img {max-width: inherit !important; max-height: inherit !important;}

/***
Default theme
***/
/***
Reset and overrides  
***/
body {
  color: #222222;
  background-color: #fff !important;
}
/***
Page header
***/
.header {
  filter: none;
  background-image: none;
  background-color: white;
}
.header .navbar-nav .dropdown-toggle:hover,
.header .navbar-nav .dropdown.open .dropdown-toggle {
  background-color: #fff !important;
}
.header .navbar-nav li.dropdown .dropdown-toggle i {
  color: #999ba2 !important;
}
.header .navbar-nav > li.devider {
  border-left: 1px solid white !important;
}
.header .navbar-nav > li.dropdown.user .dropdown-toggle .username {
  color: #333;
}
.header .search-form .form-control,
.page-sidebar-menu .search-form .form-control {
  color: #7e818a;
  background-color: #4d4f55;
  border-color: #1d1d1f;
}
.header .search-form .input-icon > i,
.page-sidebar-menu .search-form .input-icon > i {
  color: #292a2d;
}

.header .search-form .form-control:-moz-placeholder {
  color: #7e818a;
}
.header .search-form .form-control:-ms-input-placeholder {
  color: #7e818a;
}
.header .search-form .form-control::-webkit-input-placeholder {
  color: #7e818a;
}

.page-sidebar-menu .search-form .form-control:-moz-placeholder {
  color: #7e818a;
}
.page-sidebar-menu .search-form .form-control:-ms-input-placeholder {
  color: #7e818a;
}
.page-sidebar-menu .search-form .form-control::-webkit-input-placeholder {
  color: #7e818a;
}

/***
Page sidebar
***/
.page-sidebar {
  background: #35363a;
}
ul.page-sidebar-menu > li {
  border-bottom: 0px solid #414247;
}
ul.page-sidebar-menu > li > a {
  color: #eee;
}
ul.page-sidebar-menu > li > a > .arrow {
  color: #414247;
}

ul.page-sidebar-menu > li:first-child {
  border-bottom: 1px solid transparent;
}
ul.page-sidebar-menu > li a i {
  color: #999;
}
ul.page-sidebar-menu > li:hover > a > i, 
ul.page-sidebar-menu > li.active > a > i,
ul.page-sidebar-menu > li:hover > a > .arrow, 
ul.page-sidebar-menu > li > a:hover > .arrow,
ul.page-sidebar-menu > li.active > a > .arrow {
  color: #fff;
}

.page-sidebar-menu.page-sidebar-menu-circle-icons > li > a i {
  border: 1px solid #555;
}

ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
  background: #4B4B50;
}

ul.page-sidebar-menu > li.open,
ul.page-sidebar-menu > li.active {
    border-bottom: 0;
}

ul.page-sidebar-menu > li > ul.sub-menu > li:first-child {
  border-top: 0px !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  color: #ffffff !important;
  background: #A66EAA !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  background: #A66EAA !important;
}
/* 3rd level sub menu */
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover,
ul.page-sidebar-menu > li > ul.sub-menu li.open > a {
  color: #ffffff !important;
  background: #C088C4 !important;
}
ul.page-sidebar-menu > li > ul.sub-menu li.open > a {
  background: #A66EAA !important;
}
/* font color for all sub menu links*/
ul.page-sidebar-menu li > ul.sub-menu > li > a {
  color: #cecfd3;
}
/* menu arrows */
ul.page-sidebar-menu > li > a .arrow:before,
ul.page-sidebar-menu > li > a .arrow.open:before {
  color: #666 !important;
}
ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #999ba2 !important;
}
ul.page-sidebar-menu > li > a > .arrow.open:before {
  color: #a6a8ae !important;
}
ul.page-sidebar-menu > li:hover > a > .arrow:before,
ul.page-sidebar-menu > li > a > .arrow.open:before,
ul.page-sidebar-menu > li.active > a > .arrow:before,
ul.page-sidebar-menu > li.active > a > .arrow.open:before,
ul.page-sidebar-menu > li > ul.sub-menu li.open > a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu li > a:hover .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu li.active > a .arrow:before {
  color: #ffffff !important;
}
.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover > i,
.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a > i {
  color: #ffffff !important;
}
/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
  background-color: #35363a;
}
/***
Footer 
***/
.footer .footer-inner {
  color: #999ba2;
}
.footer .footer-tools .go-top {
  background-color: #4d4f55;
}
.footer .footer-tools .go-top:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.footer .footer-tools .go-top i {
  color: #7e818a;
}
/* begin:fixed footer */
.page-footer-fixed .footer {
  background-color: #292a2d;
}
.page-footer-fixed .footer .footer-inner {
  color: #7e818a;
}
.page-footer-fixed .footer .footer-tools .go-top {
  background-color: #5a5b62;
}
.page-footer-fixed .footer .footer-tools .go-top i {
  color: #c1c2c6;
}
/* end:fixed footer */
/***

/* begin: boxed page */
@media (min-width: 992px) {
  .page-boxed {
    background-color: white !important;
  }
  .page-boxed .page-container {
    background-color: white;
    border-left: 0px solid #4d4f55;
    border-bottom: 0px solid #4d4f55;
  }
  .page-boxed.page-sidebar-reversed .page-container {
    border-left: 0;
    border-right: 1px solid #4d4f55;
  }
  .page-boxed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-bottom: 0;
  }
  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .page-boxed.page-sidebar-fixed .page-sidebar {
    border-left: 1px solid #4d4f55;
  }
  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
    border-right: 1px solid #4d4f55;
    border-left: 0; 
  }
  .page-boxed.page-sidebar-fixed.page-footer-fixed .footer {
    background-color: #292a2d !important;
  }
}
/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media (max-width: 991px) {
  /***
    page sidebar
    ***/
  .page-logo {display:none !important;}
  .page-bar {border-radius: 6px;}

  .page-sidebar-menu,
  .page-sidebar {
    /*background-color: #1d1d1f !important;*/
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
  }
  ul.page-sidebar-menu > li {
    border-bottom: 0px solid #313237;
  }
  ul.page-sidebar-menu > li:first-child,
  ul.page-sidebar-menu > li:last-child {
    border-bottom: 0 !important;
  }
  ul.page-sidebar-menu > li.open > a,
  ul.page-sidebar-menu > li > a:hover,
  ul.page-sidebar-menu > li:hover > a {
    background: #09090a;
  }
}
@media (max-width: 480px) {
  .page-boxed .header .navbar-nav { top: -45px; right: 25px; }
  .header .navbar-nav > li.devider {
    border-left: 0px solid #414247 !important;
  }
}

/* theme */
.page-content {background-color: white !important;}

.nav a.dropdown-toggle {background: white !important;}
.dropdown-menu {border-color: #ccc !important;}
.footer .footer-tools .go-top {background-color: white !important;}

.page-sidebar {background: #f6f6f6 !important}
ul.page-sidebar-menu > li > a {color:#444 !important;}
ul.page-sidebar-menu > li > hr {margin:0px 0px; border:1px solid #e6e6e6; border-right:0px; border-left:0px; height:1px; background:white; order-top:1px solid #ccc; order-bottom:0px}
ul.page-sidebar-menu > li > a {border:0px !important;}
ul.page-sidebar-menu > li.active > a {color: white !important; background: #733b77 !important; border: 0 !important}
ul.page-sidebar-menu > li.active > a i, ul.page-sidebar-menu > li:hover > a i {color: white !important;}
ul.page-sidebar-menu li > ul.sub-menu > li > a {color: #5E5F63 !important;}
ul.page-sidebar-menu > li.open > a, ul.page-sidebar-menu > li > a:hover, ul.page-sidebar-menu > li:hover > a {background: #733b77; color: #fff !important}
ul.page-sidebar-menu > li.active {border-right: 4px solid #733b77;}

.page-sidebar-menu > li.active > a, .page-sidebar-menu > li:hover > a, .page-sidebar-menu > li.open > a {color:white !important;}
.page-sidebar-menu > li.active > a i, .page-sidebar-menu > li:hover > a i, .page-sidebar-menu > li.open > a i {color:white !important;}
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {background:#eee !important;}

.page-bar {border-radius: 0; background: #f6f6f6 !important;}

.btn-file > input {transform: translate(0px, 0px) scale(1.5) !important;}
.fileinput a:hover {color:#555555 !important;}

@media (max-width: 991px) {
    .page-sidebar.navbar-collapse, .page-sidebar.navbar-collapse.in {margin: 0 20px}
}

.vakata-context, .vakata-context ul { border: none !important; box-shadow: none !important; -webkit-box-shadow: none !important; }

/* Header */
.header.navbar.navbar-static-top { background: #fff; height: 91px }
.nav.navbar-nav.pull-right .devider { border-left: none !important; }
.header .navbar-nav .dropdown-toggle, .header .navbar-nav .dropdown-toggle:hover, .header .navbar-nav .dropdown.open .dropdown-toggle { background: transparent !important }
.header .navbar-nav > li.dropdown.user .dropdown-toggle .username {color: #484f61}
.header .navbar-nav li.dropdown .dropdown-toggle i { color: #484f61 !important; }
.header .nav > li > .dropdown-menu { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

/* Logo */
.page-boxed .header .page-logo { left: 0; right: 0; top: 45px; padding-left: 0; padding-right: 0; width: 100%; }
.page-boxed .header .page-logo > a { display: inline-block; width: 448px; margin-top: 12px; }
.page-boxed .header .navbar-nav { position: relative; top: -44px }

/* Sidebar Menu */
.page-sidebar, .sidebar-toggler, .page-bar, .btn, .form-control, .form-actions, .alert { border-radius: 0; }
.page-bar { padding-right: 10px; }
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu { border-radius: 0; }

ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover i,
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a i { color: #fff !important; }

/* Buttons */
.alert-success { background-color: #e5f6f6; border-color: #cbedee; color: #658788; }
.btn-info, .btn-info:hover { background: #aaa; color: #fff; text-transform: uppercase; font-size: 14px; line-height: 20px; border: 0 !important;  }
.btn-info:hover { background: #999; }
.btn-success, .btn-success:hover { background: #733b77; color: #fff; border: none; }
.btn-success:hover { background: #622a66; }
.fileinput a.btn-danger:hover { color: #fff !important; }

.nav-tabs > li > a {color: #495162}

.form-actions { background-color: #fcfcfc; }