
- node = @node
- while !node.page && node.node
  - node = node.node

- if node.path != "default" && node.page
  .form-group
    .col-md-12
      %ul.nav.nav-tabs
        %li{ class: node == @node && params[:controller] == "admin/nodes" ? "active" : nil }
          = link_to "<i class='fa-edit'></i> Edit".html_safe, admin_node_path(node)
        
        - node.nodes.where.not(name: nil, kind: "image").where(active: true).order(:weight).each do |n|
          - next if n.page || (node.kind == 'book' && (['social_links', 'buy_links'].include?(n.kind) || !node.link_new_window))
          %li{ class: @nodes_hierarchy.include?(n) ? "active" : nil }
            = link_to n.name, admin_node_path(n)

        - if node.page
          %li{ class: params[:controller] == "admin/pages" ? "active" : nil }
            = link_to "<i class='fa-cogs'></i> Settings".html_safe, admin_node_page_path(node)
    .clear
    
- if node != @node
  - subnodes = []
  - @nodes_hierarchy.each do |n|
    - break if n.node == node
    - subnodes << n
    
  - if subnodes.length > 1 && subnodes[-1].node
    .form-group
      .col-md-12{ style: "background:#f8f8f8; padding-top:2px; padding-bottom:2px; margin:-8px 15px 8px 15px" }
        %small
          = (subnodes[-1].node.name || "") + ":"
          - subnodes.reverse.each do |n|
            &nbsp;
            - name = n.name || n.title || n.link_text || n.un || n.kind
            - if n == @node
              = name
            - else
              = link_to name, admin_node_path(n)
            &nbsp;
            - if n != subnodes[0]
              %i.fa-angle-right{ style: "font-size:12px" }
      .clear