- modules = @node.children(:modules).map{ |c| c.reference_node }

- grouped_modules = {}
- added_idx = -1
- modules.each_with_index do |mod, index|
  - next if added_idx >= index
  
  - next_mod = modules[index + 1]
  
  - if next_mod && mod.template == next_mod.template
    - grouped_modules[mod.template] = [mod, next_mod]
    - added_idx = index + 1
  - else
    - grouped_modules[mod.template] = [mod]
    - added_idx = index

- grouped_modules.each_with_index do |group, index|
  = render "modules/type#{ group[0] + 1 }", modules: group[1], container_id: index