.two_columns
  - modules.each do |mod|
    - embed_code = mod.settings.video_embed_code
    .column
      .home_events
        .video{ class: embed_code.present? ? 'linked' : nil, data: { code: embed_code.present? ? embed_code : nil } }
          - if mod.image?
            = image_tag mod.image.url, "data-at2x" => mod.image.url(:retina), alt: mod.image_alt
          - if embed_code.present?
            %span.arrow
        
        %h3
          - if embed_code.present?
            %a{ href: '#', class: embed_code.present? ? 'linked' : nil }= mod.title
          - else
            = mod.title
            
        != mod.description

- content_for :script do
  :javascript
    $(function(){
      // show video in modal overlay on click
      $('.home_events .linked').on('click', function(){
        $('#video_modal').fadeIn(200).find('.video').html($(this).attr('data-code')).children().height(Math.min(360, parseInt($('html').width()*0.54)));
      });
      
      // resize the video
      $(window).on('resize', function(){
        $('#video_modal .video').children().height(Math.min(360, parseInt($('html').width()*0.54)));
      }).trigger('resize');
      
      // close modal
      $('.modal_overlay').on('click', function(e){
        $('#video_modal').fadeOut(200).find('.video').html('');
      });
      
      $('#video_modal .close').on('click', function(e){
        e.preventDefault();
        $('#video_modal').fadeOut(200).find('.video').html('');
        return false;
      });
    });