- modules.each do |mod|
  .books_slider.images_slider
    %a.prev{ href: '#' } <span></span>
    %a.next{ href: '#' } <span></span>
    
    - images = mod.children(:images)
    
    - images += images if images.count >= 3 && images.count <= 6
    - if images.present?
      .slider_wrapper
        %ul{ style: "width: 2000px" }
          - images.each do |image|
            %li
              %a{ href: image.link_url? ? image.link_url : nil, target: image.link_new_window ? '_blank' : nil }
                = image_tag image.image.url, "data-at2x" => image.image.url(:retina), alt: image.image_alt
          
    .slider_nav
      %ul
      
:javascript
  $b_slideshows = $('.books_slider.images_slider .slider_wrapper > ul');
    
  $(function(){
    /*** Books Slider ***/
    $b_slideshows.each(function(){
      $(this).carouFredSel({
        width: '100%',
        align: false,
        items: {
          visible: 'variable',
          width: 252
        },
        scroll: {
          items: 4,
          duration: 800,
          timeoutDuration: 3200,
          easing: transition_supported ? 'cubic-bezier(0.42, 0, 0.58, 1)' : 'easeInOutCirc',
          pauseOnHover: true
        },
        prev: $(this).parents('.books_slider').children('a.prev'),
        next: $(this).parents('.books_slider').children('a.next'),
        pagination: {
          container: '.slider_nav > ul',
          anchorBuilder: function(data) {
            return '<li><a href="#"></a></li>';
          }
        },
        swipe: {
          onTouch: true
        },
        onCreate: function(data){
          $(window).on('resize', function(){
            var win_w = $('html').width();
            var items = 4;
            
            if (win_w > 980) {
              items = 4;
            } else if (win_w > 680) {
              items = 3;
            } else if (win_w > 450) {
              items = 2;
            } else {
              items = 1;
            }
            $b_slideshows.trigger('configuration', ['scroll.items', items]);
          }).trigger('resize');
        }
      }, {
        transition: transition_supported
      });
    });  
  });
