- modules.each do |mod|
  .two_columns.social_messages
    - if mod.link_text? # facebook
      .column
        .text
          %span.soc.fb
          .post{ id: "fb_feed_#{ container_id }" }
          .fb-follow{ "data-href" => external_link(mod.link_text), "data-layout" => "button", "data-show-faces" => "false", style: "top: -5px" }
          :javascript
            $(window).load(function(){
              getLatestPost($('#fb_feed_#{ container_id }'), '#{ mod.link_text.split("/").last }');
              $('#fb_feed_#{ container_id }').dotdotdot({
                height: 230
              });
            });
            
    - if mod.email? # twitter
      .column
        .text
          %span.soc.tw
          .post{ id: "tw_feed_#{ container_id }" }
          - username = mod.email.gsub(/^@/, '')
          :javascript
            $(function(){
              $('#tw_feed_#{ container_id }').tweecool({
                username: '#{ username }',
                limit: 3,
                profile_image: false,
                show_time: false,
                show_media: false
              });
            });
          %a.twitter-follow-button{ href: "https://twitter.com/#{ username }", "data-show-count" => "false", "data-show-screen-name" => "false" }
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>