:css
  .help-inline {display: block}

- settings = @node.settings

= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true, class: "main_form"} do |f|
      
  - if @node.un == 'blog_link'
    
    = f.field :state do
      = f.check_box :active, help_inline: "Set Link State"
    
    = f.text_field :link_url, label: "URL", help_inline: "Set URL. It will open in a new window."

  - elsif @node.un == 'footer'
    
    = f.admin_fields_for settings do |p|
      = p.text_area :column1, label: 'Column 1', help_inline: "Set Column 1 Text", class: "ckeditor", field_class: "col-md-10"
      = p.text_area :column2, label: 'Column 2', help_inline: "Set Column 2 Text", class: "ckeditor", field_class: "col-md-10"
      = p.text_area :column3, label: 'Column 3', help_inline: "Set Column 3 Text", class: "ckeditor", field_class: "col-md-10"
      = p.text_area :column4, label: 'Column 4', help_inline: "Set Column 4 Text", class: "ckeditor", field_class: "col-md-10"
    
    %h2 Social Links
    = f.text_field :link_text, label: "Facebook URL", help_inline: "Set Facebook URL", append: "<i class='fa-facebook'></i>".html_safe
    = f.text_field :link_url, label: "Twitter URL", help_inline: "Set Twitter URL", append: "<i class='fa-twitter'></i>".html_safe
    = f.text_field :description, label: "LinkedIn URL", help_inline: "Set LinkedIn URL", append: "<i class='fa-linkedin'></i>".html_safe
    = f.text_field :email, label: "YouTube URL", help_inline: "Set YouTube URL", append: "<i class='fa-youtube' style='font-size: 20px'></i>".html_safe
    
  - else
  
    - if ['homepage', 'about_page', 'contact_page'].include?(@node.un)
      = f.hidden_field :width, value: 316
      = f.image_upload :image, removeable: false, width: 316
      = f.text_field :image_alt, label: "Image Alt Text", help_inline: "Set Image Alt Text", field_class: "col-md-4"
      
    = f.text_field :title, help_inline: "Set Title"
    
    - unless @node.un == 'videos_page'
      = f.text_area :description, label: 'Text', help_inline: "Set Text", rows: 8, class: "ckeditor", field_class: "col-md-10"
    
    - if ['books_page', 'events_page'].include?(@node.un)
      = f.hidden_field :width, value: 485
      = f.image_upload :image, removeable: false, width: 485
      = f.text_field :image_alt, label: "Image Alt Text", help_inline: "Set Image Alt Text", field_class: "col-md-4"
                
  - @node.nodes.where(kind: :image).each do |image|
    = f.admin_fields_for "image.#{image.un}", image do |p|
      = p.hidden_field :width, value: image.width
      = p.hidden_field :height, value: image.height
      = p.image_upload :image, removeable: false, width: image.width, height: image.height, max: image.image_max, label: image.name
      = p.text_field :image_alt, label: "Image Alt Text", help_inline: "Set Image Alt Text", field_class: "col-md-4"

  = f.actions cancel: false
  - content_for :script, f.validate

- content_for :script do
  = javascript_include_tag "jquery.tmpl.1.1.1"
  
  :javascript    
    $(function(){
      $("form.main_form").dirtyForms('setClean');
    });
    