
= admin_form_for [:admin, @node], url: @node.new_record? ? admin_node_path(@node.node) : admin_node_path(@node), html: {multipart: true} do |f|
  = f.hidden_field :width, value: 1600
  = f.hidden_field :height, value: 150

  = f.text_field :title, placeholder: "Page title", help_inline: "Set Title", required: true
  = f.text_area  :description, label: 'Text', help_inline: "Set Text", rows: 10, class: "ckeditor", field_class: "col-md-9", required: true

  - @node.nodes.where(kind: :image).each do |image|
    = f.admin_fields_for "image.#{image.name}", image do |p|
      = p.image_upload :image, removeable: false, width: image.width * 2, height: image.height * 2, max: image.image_max, label: image.name
      = p.text_field :image_alt

  = f.actions cancel: false
  - content_for :script, f.validate({rules: {"node[description]" => {required: true}}})
