.two_columns.two_columns2
  - if @node.image?
    .column= image_tag @node.image.url, "data-at2x" => @node.image.url(:retina), alt: @node.image_alt
    
  .column
    %h1= @node.title
    != @node.description

= render "modules/show"