- content_for :head do
  = javascript_include_tag "masonry.pkgd.min", "imagesloaded"

- settings = @node.settings
.two_columns.two_columns2
  .column
    - if @node.image?
      = image_tag @node.image.url, "data-at2x" => @node.image.url(:retina), alt: @node.image_alt
      
    - if settings.awards.present?
      .awards_list!= settings.awards
    
    - buy_links = @node.children(:buy_links)
    - if buy_links.present?
      %h4 Available:
      %ul.gray_links
        - buy_links.each_with_index do |link, index|
          %li{ class: index % 2 == 1 || link == buy_links.last ? 'last' : nil }= link_to link.name, link.link_url, target: link.link_new_window ? "_blank" : nil
          - if index % 2 == 1 && link != buy_links.last
            %li.new_line
            
    - social_links = @node.children(:social_links)
    - if social_links.present?
      %h4 More:
      %ul.gray_links
        - social_links.each_with_index do |link, index|
          %li{ class: index % 2 == 1 || link == social_links.last ? 'last' : nil }= link_to link.name, link.link_url, target: link.link_new_window ? "_blank" : nil
          - if index % 2 == 1 && link != buy_links.last
            %li.new_line
                  
  .column
    %h1= settings.title || @node.title
    != settings.text
    
    - if settings.embed_code.present?
      .video_wrapper{ style: settings.text.present? ? 'margin-top: -10px' : nil }
        .video!= settings.embed_code
        
        :javascript
          // Fix the video height
          $('.video_wrapper > .video').children().each(function(){
            $(this).height($(this).width()*9/16);
          });

- praise_items = @node.children(:praise_items)

- if praise_items.present?
  - two_columns = praise_items.in_groups_of(2).transpose
  .praises_wrapper
    %h2 Praise
    .two_columns
      - two_columns.each_with_index do |items, i|
        .column{ class: i % 2 == 0 ? 'first' : nil }
          - items.each_with_index do |item, idx|
            - next unless item
            .praise{ class: (i % 2 == 1 ? idx % 2 == 0 : idx % 2 == 1) ? 'darker' : nil }!= item.description
    
    - if praise_items.count > 2
      .main_links.type4= link_to "Read More Praise", "#"
  
- news_items = @node.children(:news_items)

- if news_items.present?
  %h2 In The News
  
  .news_links
    %ul
      - news_items.each do |item|
        - if item.image?
          - url = item.template == 1 ? (item.attachment? ? item.attachment.url : nil) : (item.link_url? ? item.link_url : nil)
          %li
            - if url
              = link_to (image_tag item.image.url, "data-at2x" => item.image.url(:retina), alt: item.image_alt), url, target: item.template == 1 || item.link_new_window ? "_blank" : nil
            - else
              = image_tag item.image.url, "data-at2x" => item.image.url(:retina), alt: item.image_alt
              
  :javascript
    // In the News Masonry
    $(function(){
      var $container = $('.news_links > ul');
      $container.imagesLoaded( function() {
        $container.masonry({
          itemSelector: 'li',
          columnWidth: 146,
          gutter: 24,
          isFitWidth: true
        });
      });
    });
    
= render "modules/show"
