.two_columns.simple_text
  - if @node.image?
    .column.d_hidden= image_tag @node.image.url, "data-at2x" => @node.image.url(:retina), alt: @node.image_alt
    
  .column.first
    %h1= @node.title
    != @node.description
          
  - if @node.image?
    .column= image_tag @node.image.url, "data-at2x" => @node.image.url(:retina), alt: @node.image_alt

%ul.books_list
  - @node.children(:books).each do |book|
    %li
      .img
        %a{ href: book.link_new_window ? book_path(book.slug || book.id) : nil }
          - if book.image?
            = image_tag book.image.url, "data-at2x" => book.image.url(:retina), alt: book.image_alt
      .text
        %h2
          - if book.link_new_window
            = link_to book.title, book_path(book.slug || book.id)
          - else
            = book.title
            
        != book.description
      
        - buy_links = book.children(:buy_links)
        - if buy_links.present?
          %ul.gray_links
            %li.title Available:
            - buy_links.each do |link|
              %li{ class: link == buy_links.last ? 'last' : nil }= link_to link.name, link.link_url, target: link.link_new_window ? "_blank" : nil
        - if book.link_new_window
          .main_links= link_to "More info", book_path(book.slug || book.id)