
.two_columns.two_columns2.simple_text
  - if @node.image?
    .column= image_tag @node.image.url, "data-at2x" => @node.image.url(:retina), alt: @node.image_alt
    
  .column
    %h1= @node.title
    != @node.description
        
    - @node.children(:social_media_items).each do |item|
      %h3= item.name
      %ul.contact_links
        - if item.title? # facebook
          %li
            %a.follow{ href: external_link(item.title), target: "_blank", onclick: "var left = (screen.width/2)-525, top = (screen.height/2)-300; window.open(this.href, '', 'width=1050,height=600,top=' + top + ',left=' + left + ', resizable=1'); return false;" }
              %span.soc.fb
              = item.title
              
        - if item.link_url? # twitter
          %li
            %a{ href: "https://twitter.com/intent/follow?original_referer=#{ request.path }/&region=follow_link&screen_name=#{ item.link_url.gsub(/^@/, '') }&tw_p=followbutton", target: "_blank", onclick: "var left = (screen.width/2)-275, top = (screen.height/2)-150; window.open(this.href, '', 'width=550,height=300,top=' + top + ',left=' + left + ', resizable=1'); return false;" }
              %span.soc.tw
              = item.link_url
    
.simple_text
  - links = @node.children(:links)
  - if links.present?
    %h2.h1 Links
    %ul.gray_links.type2
      - links.each do |link|
        %li= link_to link.name, external_link(link.link_url), target: link.link_new_window ? "_blank" : nil
