.two_columns.simple_text
  - if @node.image?
    .column.d_hidden= image_tag @node.image.url, "data-at2x" => @node.image.url(:retina), alt: @node.image_alt
    
  .column.first
    %h1= @node.title
    != @node.description
          
  - if @node.image?
    .column= image_tag @node.image.url, "data-at2x" => @node.image.url(:retina), alt: @node.image_alt

- events = @node.children(:events).reorder(:node_date)
    
- if events.present?
  - past_active = request.path == '/events/past'
  .events_wrapper
    .main_links.type3
      %ul
        %li{ class: past_active ? nil : 'active' }= link_to "Upcoming Events", "#upcoming"
        %li.last{ class: past_active ? 'active' : nil }= link_to "Past Events", "#past"
        
    - grouped_events = {}
    - upcoming_events = events.where("node_date >= CURDATE()")
    - grouped_events[:upcoming] = upcoming_events.group_by{ |e| e.node_date.strftime('%Y') }.sort_by{ |year, events| year }
    - past_events = events - upcoming_events
    - grouped_events[:past] = past_events.group_by{ |e| e.node_date.strftime('%Y') }.sort_by{ |year, events| year }.reverse
    
    
    - grouped_events.each do |type, events_by_year|
      - group_active = type == :past ? past_active : !past_active
      %ul.events_years{ class: type, style: group_active ? nil : 'display: none' }
        - i = 0
        - events_by_year.each do |year, events|
          %li
            %a{ name: year }
            .main_links.type5{ class: group_active && i == 0 ? 'active' : nil }= link_to year, "##{ year }", data: { t: type }
            - if events.present?
              %ul.events_list{ data: { year: "#{ type }-#{ year }" }, style: group_active && i == 0 ? 'display: block' : nil }
                - events.each do |event|
                  %li
                    .img
                      %a{ href: event.link_url? ? event.link_url : nil, target: event.link_new_window ? '_blank' : nil }
                        = image_tag event.image.url, "data-at2x" => event.image.url(:retina), alt: event.image_alt
                    .text
                      %p.date= event.node_date.strftime('%B %d, %Y')
                      %h2.up= event.title
                      != event.description
                      - if event.link_url?
                        .main_links= link_to "More info", event.link_url, target: event.link_new_window ? '_blank' : nil
          - i += 1  

- content_for :script do
  :javascript
    $(function(){
      // Switch between upcoming and past events
      $('.main_links.type3').find('li a').on('click', function(e){
        e.preventDefault();
        if ($(this).parent().hasClass('active'))
          return false;
          
        $(this).parents('ul').children('li').removeClass('active');
        $(this).parent('li').addClass('active');
        var type = $(this).attr('href').replace('#', '');
        $('ul.events_years').hide().filter('.' + type).fadeIn(200);
        
        if (window.history) {
          window.history.pushState({}, '', "/events/" + type);
        }  
        return false;
      });
      
      // Toggle Years
      $('.events_years').find('.main_links.type5 a').on('click', function(){
        var $link = $(this);
        var type = $link.attr('data-t'), year = $link.html();
        var $container = $('ul.events_list[data-year="' + type + '-' + year + '"]');
        
        // Close other years
        $('ul.events_list').not($container).slideUp(400, function(){
          $(this).prev('.main_links').removeClass('active');
        });
        
        if ($container.is(':visible')) {
          $container.slideUp(400, function(){
            $link.parent().removeClass('active');
          });
        } else {
          $link.parent().addClass('active');
          $container.slideDown(400, function(){
            $('body, html').animate({ scrollTop: $('a[href="#' + year + '"]:visible').offset().top - ($('html').width() < 1024 ? 70 : 0) }, 300);
          });
        }        
        return false;
      });      
    });
