
.two_columns.two_columns2.simple_text
  - if @node.image?
    .column= image_tag @node.image.url, "data-at2x" => @node.image.url(:retina), alt: @node.image_alt
  .column
    %h1.up= @node.title
    != @node.description

= render "modules/show"