
%h1= @node.title

- all_tags = Node.find_by_un(:tags).children

%h4 Tags:
%ul.gray_links.main_tags
  %li{ class: @tag ? nil : 'darker' }= link_to "View all", "/videos", data: { id: 'all' }
  - all_tags.each do |tag|
    - if tag.inverse_relations.present?
      %li{ class: (tag == all_tags.last ? 'last' : '') + (tag == @tag ? ' darker' : '') }= link_to tag.name, video_tag_path(tag.slug || tag.id), data: { id: tag.id }
      
- videos = @node.children(:videos)

.two_columns.videos_list
  - videos.each do |video|
    - ids = video.related_ids
    .column{ style: @tag && !ids.include?(@tag.id) ? 'display: none' : nil, data: { tags: ids.join(',') } }
      .video_wrapper
        %h4= video.name
        .video
          - if video.image?
            = image_tag video.image.url, "data-at2x" => video.image.url(:retina), alt: video.image_alt, class: "video_thumb"
            .hidden_video!= video.description
          - else
            != video.description
        
        - tags = video.related_tags
        - if tags.present?
          %ul.gray_links
            - tags.each do |tag|
              %li{ class: tag == tags.last ? 'last' : nil }= link_to tag.name, video_tag_path(tag.slug || tag.id), data: { id: tag.id }
            

- content_for :script do
  :javascript
    // Remove the last line from the tag list
    $('ul.main_tags').children('li').last().addClass('last');
    
    // Autoplay video on thumb click
    (function($){
      $.fn.autoplay = function() {
        var src = $(this).attr('src');
        console.log(src);
        if (src.indexOf('?') > 0) {
          src = src + '&autoplay=1';
        } else {
          src = src + '?autoplay=1';
        }
        $(this).attr('src', src);
      };
    })(jQuery);
        
    $(function(){
      $('.video').each(function(){
        if ($(this).is(':visible')) {
          $(this).find('iframe').css({ height: parseInt($(this).width()*0.61) });
        }
      });
      $('.video_thumb').on('click', function(){
        $(this).hide().next('.hidden_video').show().children('iframe').autoplay();
      });
    });
    
    var $videos = $('.videos_list > .column');
    
    // Filter videos by tags
    function toggleVideos(id, path) {
      
      // show/hide videos
      if (id == 'all') {
        $videos.stop().fadeIn(200);  
      } else {
        $videos.filter(function(){
          var tags = $(this).attr('data-tags').split(',');
          if ( tags.indexOf(id) > -1 ) {
            $(this).stop().fadeIn(200, function(){
              $(this).find('iframe').css({ height: parseInt($(this).width()*0.61) });
            });
            return true;
          }
          $(this).stop().hide();
          return false;
        });
      }
      
      if (window.history) {
        window.history.pushState({}, '', path);
      }
    }
    
    $('.main_tags a').on('click', function(e){
      e.preventDefault();
      
      // highlight the selected tag
      $('.main_tags').find('li').removeClass('darker');
      $(this).parent('li').addClass('darker');
      
      var id = $(this).attr('data-id');
      toggleVideos(id, $(this).attr('href'));
      return false;
    });
    
    $('.videos_list').find('.gray_links a').on('click', function(e){
      e.preventDefault();
      
      var id = $(this).attr('data-id');
      
      // highlight the selected tag
      $('.main_tags').find('li').removeClass('darker');
      $('.main_tags a[data-id="' + id + '"]').parent('li').addClass('darker');
      
      toggleVideos(id, $(this).attr('href'));
      return false;
    });
    
    