
- if @status_code == 404
  .col-md-12.page-404
    .number 404
    .details
      %h3 Oops! You're lost.
      %p
        We can not find the page you're looking for.
        %br/
        Please
        = link_to "click here", "/admin"
        to return home.

- elsif @status_code == 500
  .col-md-12.page-500
    .number 500
    .details
      %h3 Oops! Something went wrong.
      %p
        We are fixing it!
        %br/
        Please come back in a while.
