.login { background: transparent !important; }
.login .logo { margin: 120px 0 20px; }
.login .logo img { max-width: 90%; width: auto}
.login .content { background: #f9f9f9 }
.login .alert { border: 1px solid #faa; background: #fee; }
.login .btn-info, .login .btn-info:hover { background: #733b77; border: none; font-weight: bold; text-transform: uppercase; font-family: Arial, sans-serif; }
.login .btn-info:hover { background: #622a66; }
.login .content .form-actions { background: transparent; border: none; padding-bottom: 0 }
.vakata-context, .vakata-context ul { display: none }
