
<%= form_for(resource, :as => resource_name, :url => user_session_path, :html => {class: "login-form"}) do |f| %>
	<!--h3 class="form-title">Login</h3-->

  <% if notice || alert %>
  	<div class="alert alert-error">
  		<a class="close" data-dismiss="alert"></a>
  		<span><%= notice || alert %></span>
  	</div>
	<% end %>

	<div class="form-group">
		<label class="control-label visible-ie8 visible-ie9">Username</label>
		<div class="input-icon">
			<i class="fa fa-user"></i>
			<%= f.text_field :username, autocomplete: "off", placeholder: "Username", class: "form-control placeholder-no-fix" %>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label visible-ie8 visible-ie9">Password</label>
		<div class="input-icon">
			<i class="fa fa-lock"></i>
			<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control placeholder-no-fix" %>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-info pull-right">Login</button>
	</div>
<% end %>
