
= admin_form_for :settings, method: :put do |f|
  - if params[:id] == 'google'
    = f.text_area :google_analytics, value: Settings.google_analytics, rows: 8, field_class: "col-md-9", placeholder: "Set google analytics code"
    = f.text_area :webmaster, value: Settings.webmaster, rows: 8, field_class: "col-md-9", placeholder: "Set google webmaster code"

  - if ['browser_error', 'page_not_found'].include?(params[:id])
    - k = params[:id]
    = f.text_field "#{k}_title", label: "Title", value: Settings["#{k}_title"]
    = f.text_area "#{k}_body", label: "Body", value: Settings["#{k}_body"], rows: 4, class: "ckeditor", field_class: "col-md-9"

  = f.actions cancel: false
