
.col-md-12
  - if @node
    - if @node.max_active.nil? || @node.max_active > @node.nodes.count
      .table-toolbar
        .btn-group
          %a.btn.btn-success{ :href => new_admin_node_path(@node) }
            Add New
            %i.fa-plus

    - unless @node.max_active.nil?
      You may have up to #{@node.max_active} quick links.
  - else
    .table-toolbar
      .btn-group
        %a.btn.btn-success{ :href => new_admin_node_path('generic') }
          Add New
          %i.fa-plus
    
  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '#{@node ? nodes_admin_node_path(@node) : request.path}');
    d.init({
      reordering: true,
      onDelete: function() {self.location = '#{@node ? admin_node_path(@node) : request.path}'},
      aoColumns: [
        {sTitle: "Link Name", mRender: function(data, type, row) {
          return row.link_text;
        }},
        d.columns.actions({toggle: false})
      ]
    });
