/*
 *= require jquery-ui
 *= require ui.multiselect
 *= require_self
 */
 
@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: normal;
 src: local('Montserrat'), font-url('m.woff2') format('woff2'), font-url('m.woff') format('woff'), font-url('m.ttf') format('truetype'); }
@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: bold;
 src: local('Montserrat'), font-url('m_b.woff2') format('woff2'), font-url('m_b.woff') format('woff'), font-url('m_b.ttf') format('truetype'); }