@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: normal; font-style: normal; font-weight: normal; src: font-url('m.eot'); }
@font-face { font-family: 'Montserrat Bold'; font-style: normal; font-weight: normal; font-style: normal; font-weight: normal; src: font-url('m_b.eot'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: normal; font-style: normal; font-weight: normal; src: font-url('os.eot'); }
@font-face { font-family: 'Open Sans Italic'; font-style: normal; font-weight: normal; font-style: normal; font-weight: normal; src: font-url('os_i.eot'); }
@font-face { font-family: 'Open Sans Bold'; font-style: normal; font-weight: normal; font-style: normal; font-weight: normal; src: font-url('os_s.eot'); }
@font-face { font-family: 'Open Sans Bold Italic'; font-style: normal; font-weight: normal; font-style: normal; font-weight: normal; src: font-url('os_si.eot'); }
@font-face { font-family: 'Source Sans Pro'; font-style: normal; font-weight: normal; font-style: normal; font-weight: normal; src: font-url('ssp.eot'); }
@font-face { font-family: 'Social'; font-style: normal; font-weight: normal; font-style: normal; font-weight: normal; src: font-url('social.eot'); }

b, strong { font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif; font-weight: normal; }
i, em { font-family: 'Open Sans Italic', Helvetica, Arial, sans-serif; font-style: normal; }

.h_logo { font-family: 'Montserrat Bold', Helvetica, Arial, sans-serif; font-weight: normal; }

footer h4 { font-family: 'Montserrat Bold', Helvetica, Arial, sans-serif; font-weight: normal; }

header, main, footer { width: 900px; }