html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, main, menu, nav, section, summary, time, mark, audio,
  video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, main 
menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
i, em { font-style: italic; }
b, strong { font-weight: bold; }
a img { border: 0; }
a:hover, a:active, a:focus { outline: 0; }
input::-ms-clear { display: none; }
input[type="text"], input[type="search"], input[type="password"], textarea, button { margin: 0; padding: 0; outline: 0; border: 0; -webkit-appearance: none; -webkit-border-radius: 0; }
input[type="text"], input[type="search"], input[type="password"], textarea { display: block; }
input[type="submit"], button { cursor: pointer; }
textarea { resize: none; overflow: auto; }
button::-moz-focus-inner { padding: 0; }
html { -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -moz-box-sizing: inherit; box-sizing: inherit; }
img { -moz-box-sizing: content-box; box-sizing: content-box; }

@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: normal; 
  src: local('Montserrat'), font-url('m.woff2') format('woff2'), font-url('m.woff') format('woff'), font-url('m.ttf') format('truetype'); }
@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: bold; 
  src: local('Montserrat'), font-url('m_b.woff2') format('woff2'), font-url('m_b.woff') format('woff'), font-url('m_b.ttf') format('truetype'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: normal; 
  src: local('Open Sans'), font-url('os.woff2') format('woff2'), font-url('os.woff') format('woff'), font-url('os.ttf') format('truetype'); }
@font-face { font-family: 'Open Sans'; font-style: italic; font-weight: normal; 
  src: local('Open Sans'), font-url('os_i.woff2') format('woff2'), font-url('os_i.woff') format('woff'), font-url('os_i.ttf') format('truetype'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: bold; 
  src: local('Open Sans'), font-url('os_s.woff2') format('woff2'), font-url('os_s.woff') format('woff'), font-url('os_s.ttf') format('truetype'); }
@font-face { font-family: 'Open Sans'; font-style: italic; font-weight: bold; 
  src: local('Open Sans'), font-url('os_si.woff2') format('woff2'), font-url('os_si.woff') format('woff'), font-url('os_si.ttf') format('truetype'); }
@font-face { font-family: 'Source Sans Pro'; font-style: normal; font-weight: normal; 
  src: local('Source Sans Pro'), font-url('ssp.woff2') format('woff2'), font-url('ssp.woff') format('woff'), font-url('ssp.ttf') format('truetype'); }
@font-face { font-family: 'Social'; font-style: normal; font-weight: normal; 
  src: local('Social'), font-url('social.woff2') format('woff2'), font-url('social.woff') format('woff'), font-url('social.ttf') format('truetype'); }
  
html { height: 100%; }
body { background: #fff; height: 100%; font-size: 18px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #666; }
a { text-decoration: none; color: #733b77; }
a:hover { text-decoration: underline; }
.color1 { color: #733b77; }
.d_hidden { display: none; }

h1, h2.h1 { padding-bottom: 14px; font: 29px/37px 'Montserrat', Helvetica, Arial, sans-serif; color: #333; }
h2 { padding-bottom: 13px; font: 26px/30px 'Montserrat', Helvetica, Arial, sans-serif; color: #333; }
h1.up, h2.up { text-transform: uppercase; }
h3 { padding-bottom: 2px; font: 18px/30px 'Open Sans', Helvetica, Arial, sans-serif; text-transform: uppercase; color: #666; }
h3 a { color: #000; }
h3 a:hover { text-decoration: none; color: #733b77; }
h4 { padding-bottom: 5px; font: bold 18px/20px 'Montserrat', Helvetica, Arial, sans-serif; color: #333; }

/* Social icons */
.soc { font-family: 'Social'; text-decoration: none; }
.soc:before { position: relative; }
.soc.fb:before { content: "\e000"; }
.soc.tw:before { content: "\e001"; }
.soc.in:before { content: "\e002"; }
.soc.yt:before { content: "\e003"; }
.soc.fb, .soc.tw { display: inline-block; line-height: 36px; font-size: 36px; color: #3a5897; }
.soc.tw { color: #5fa9dd; }

/* STRUCTURE */
#page_wrapper { min-height: 100%; }
#page_wrapper2 { padding-bottom: 222px; }
#header_wrapper { background: #f9f9f9; height: 157px; border-bottom: 1px solid #f4f4f4; }
#footer_wrapper { background: #f9f9f9; position: relative; height: 222px; margin-top: -222px; }
header, main, footer { position: relative; width: 1000px; margin: 0 auto; }

/* HEADER */
header { text-align: center; padding-top: 32px; }
.h_logo { font: bold 52px/52px 'Montserrat', Helvetica, Arial, sans-serif; text-transform: uppercase; color: #733b77; }
.h_logo:hover { text-decoration: none; }
.h_nav { position: relative; padding-top: 26px; }
.h_nav .show_nav, .h_nav .close { display: none; }
.h_nav li { display: inline-block; position: relative; padding: 0 17px 0 21px; font: 18px/26px 'Montserrat', Helvetica, Arial, sans-serif; text-transform: uppercase; color: #666; }
.h_nav li:before { background: #eee; display: block; content: ''; position: absolute; left: 0; top: 0; bottom: 0; width: 1px; }
.h_nav li:first-child { padding-left: 0; }
.h_nav li:first-child:before { display: none; }
.h_nav li.last { padding-right: 0; }
.h_nav li a { color: #666; }
.h_nav li a:hover { text-decoration: none; color: #733b77; }
.h_nav li.active a { color: #333; }

/* MAIN CONTENT */
main { padding: 53px 0 0; line-height: 30px; }
main:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; }
main p, /* main blockquote, */ main ol, main ul { padding-bottom: 30px; }
main p.p0 { padding-bottom: 0; }
main blockquote { font: bold italic 24px/36px 'Georgia', Times, sans-serif; color: #733b77; }
main ol { counter-reset: point; }
main ul.list li, main ol li  { position: relative; padding: 0 0 5px 16px; line-height: 20px; }
main ul.list li:before { background: #606060; content: ''; position: absolute; left: 3px; top: 7px; width: 4px; height: 4px; border-radius: 2px; }
main ol li:before { content: counter(point)"."; counter-increment: point 1; position: absolute; left: 0; top: 0; width: 14px; font-size: 16px; font-weight: bold; text-align: right; }
main img { display: block; width: 100%; }

.video_wrapper { /* padding-top: 19px; */ }
.video_wrapper h4 { padding-bottom: 16px; }
.video_wrapper .video > img { padding: 0; }
.video_wrapper .video > * { max-width: 100%; }
.video_wrapper .gray_links { padding: 3px 0 0; }
.button { display: inline-block; }
.button img { width: auto; padding: 0 !important; }

.main_links { font: bold 18px 'Montserrat', Helvetica, Arial, sans-serif; text-transform: uppercase; }
.main_links a { display: inline-block; position: relative; text-decoration: none; }
.main_links.type2 a { text-decoration: underline; }
.main_links.type2 a:hover { text-decoration: none; }
.main_links.type3 { color: #999; }
.main_links.type3 a { color: #999; }
.main_links.type3 a:hover { color: #733b77; }
.main_links.type3 li { display: inline-block; position: relative; margin-right: 13px; padding-right: 19px; }
.main_links.type3 li:before { background: #999; content: ''; position: absolute; right: 0; top: 0; bottom: 0; width: 2px; height: 17px; margin: auto 0; }
.main_links.type3 li.last { margin: 0; padding: 0; }
.main_links.type3 li.last:before { display: none; }
.main_links.type3 li.active a { color: #733b77; cursor: text; }
.main_links.type4 a { padding-right: 15px; }
.main_links.type4 a:before { content: ''; position: absolute; right: -9px; top: 0; bottom: 0; height: 0; margin: auto 0; border-width: 5px 9px; border-style: solid; border-color: transparent; border-left-color: #733b77; }
.main_links.type5 a { padding-right: 22px; color: #999; }
.main_links.type5 a:before { content: ''; position: absolute; right: 0; top: 3px; border-width: 7px; border-style: solid; border-color: transparent; border-left-color: #999; }
.main_links.type5 a:after { content: ''; position: absolute; right: 6px; top: 6px; border-width: 4px; border-style: solid; border-color: transparent; border-left-color: #fff; }
.main_links.type5 a:hover, .main_links.type5.active a { color: #733b77; }
.main_links.type5 a:hover:before { border-left-color: #733b77; }
.main_links.type5.active a:before { content: ''; position: absolute; right: 0; top: 7px; border-width: 8px; border-style: solid; border-color: transparent; border-top-color: #733b77; }
.main_links.type5.active a:after { content: ''; position: absolute; right: 3px; top: 7px; border-width: 5px; border-style: solid; border-color: transparent; border-top-color: #fff; }

.gray_links { color: #999; }
.gray_links li { display: inline-block; position: relative; margin-right: 4px; padding-right: 10px; }
.gray_links li:before { background: #333; content: ''; position: absolute; right: 0; top: 0; bottom: 0; width: 1px; height: 19px; margin: auto 0; }
.gray_links li.last { margin: 0; padding: 0; }
.gray_links li.title { margin: 0 2px 0 0; padding: 0; }
.gray_links li.new_line { display: block; }
.gray_links li.title:before , .gray_links li.last:before, .gray_links li.middle:before, .gray_links li.new_line:before { display: none; }
.gray_links a { text-decoration: underline; color: #999; }
.gray_links a:hover { text-decoration: none; color: #733b77; }
.gray_links .darker a { color: #333; }
.gray_links.type2 li { display: block; margin: 0 0 10px; padding: 0; }
.gray_links.type2 li:before { display: none; } 

.simple_text, .two_columns, .books_slider, .images_slider, .praises_wrapper, .news_links, .events_years { margin-bottom: 62px; }
.two_columns:after { display: block; content: ''; clear: both; visibility: hidden; height: 0; }
.two_columns > div { float: left; width: 48.5%; margin-left: 3%; }
.two_columns > div:first-child, .two_columns > div.first { margin: 0; }
.two_columns2 > div { width: 65.1%; margin-left: 3.3%; }
.two_columns2 > div:first-child { width: 31.6%; }
.simple_text img, .two_columns2 img { padding-top: 7px; }
.simple_text ul { list-style: disc; margin-left: 20px; }
.simple_text ol li { padding-left: 23px; }
.simple_text ul[class] { list-style: none; margin-left: 0; }

.books_slider { position: relative; /* height: 416px; */ height: 327px; }
.books_slider .prev, .books_slider .next { background: #d9d9d9; position: absolute; left: -36px; top: 0; bottom: 0; width: 9px; height: 46px; margin: auto 0; }
.books_slider .prev:before, .books_slider .prev:after, .books_slider .next:before, .books_slider .next:after { content: ''; position: absolute; left: -30px; margin: auto; border-width: 23px 15px; border-style: solid; border-color: transparent; border-right-color: #d9d9d9; }
.books_slider .prev:after { left: -21px; border-right-color: #fff; }
.books_slider .next { left: auto; right: -36px; }
.books_slider .next:before { left: auto; right: -30px; border-left-color: #d9d9d9; border-right-color: transparent; }
.books_slider .next:after { left: auto; right: -21px; border-left-color: #fff; border-right-color: transparent; }
.books_slider .slider_wrapper { overflow: hidden; }
.books_slider .slider_wrapper ul { -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -webkit-perspective: 1000; }
.books_slider .slider_wrapper ul:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; }
.books_slider .slider_wrapper li { float: left; /* width: 304px; */ width: 244px; padding-right: 24px; }
/* .books_slider .slider_wrapper li:first-child { margin: 0; } */
.books_slider .slider_nav { display: none; }
.images_slider { height: 246px; }
.images_slider .slider_wrapper li { width: 252px; padding-right: 6px; }

.social_messages > div > div { background: #f9f9f9; padding: 30px 6% 24px; line-height: 26px; font-size: 15px; text-align: center; }
.social_messages .post { padding-bottom: 34px; min-height: 146px; }
.social_messages .post li { padding-bottom: 15px; }
.social_messages .post li:last-child { padding-bottom: 0; }
.social_messages .soc.fb, .social_messages .soc.tw { margin-bottom: 16px; }

/* Homepage */
.home_events { /* padding: 13px 13px 18px; */ padding: 26px 26px 22px; border: 1px solid #e6e6e6; }
.home_events img, .home_events p { padding: 0; }
.home_events .img, .home_events .video { position: relative; margin-bottom: 16px; }
.home_events .video .arrow { position: absolute; right: 19px; bottom: 13px; width: 56px; height: 56px; border: 2px solid #fff; border-radius: 28px; }
.home_events .video .arrow:before { content: ''; position: absolute; left: 18px; right: 0; top: 0; bottom: 0; width: 0; height: 0; margin: auto; border-width: 12px 18px; border-style: solid; border-color: transparent; border-left-color: #fff; }
.home_events .video.linked { cursor: pointer; }
#video_modal { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; }
#video_modal .modal_overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #333; opacity: 0.5; filter: alpha(opacity=50); }
#video_modal .video { position: absolute; top: 0; right: 10px; bottom: 0; left: 10px; margin: auto; max-width: 95%; width: 640px; height: 360px; }
#video_modal .video > * { width: 100% !important; }
#video_modal a.close { display: block; position: absolute; right: 20px; top: 20px; padding: 5px; width: 25px; height: 25px; background-position: center; z-index: 1; background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%222%202%2012%2012%22%20enable-background%3D%22new%202%202%2012%2012%22%3E%3Cg%20fill%3D%22%23333%22%3E%3Cpath%20d%3D%22M3.265%2014L14%203.265%2012.735%202%202%2012.735M2%203.265L12.735%2014%2014%2012.735%203.265%202%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E'); background-repeat: no-repeat; }

/* About */
.about .main_links { margin: 24px 0 19px; }

/* Books */
.books .two_columns { margin-bottom: 41px; }
.books_list { padding-bottom: 0; }
.books_list > li { padding-bottom: 75px; }
.books_list > li:after { display: block; content: ''; clear: both; visibility: hidden; height: 0; }
.books_list h2 a, .books_list h2 a:hover { color: #000; text-decoration: none; }
.books_list .img { float: left; width: 228px; padding-top: 5px; }
.books_list .text { margin-left: 258px; }

/* Book Feature */
.awards_list { background: #f9f9f9; margin: 47px 0; padding: 33px 15%; font: 14px/18px 'Montserrat', Helvetica, Arial, sans-serif; text-transform: uppercase; text-align: center; color: #733b77; }
.awards_list li, .awards_list p { padding-bottom: 18px; }
.praises_wrapper .praise { background: #f9f9f9; padding: 43px 5.5% 9px; margin-bottom: 42px; }
.praises_wrapper .praise.darker { background: #eee; }
.praises_wrapper .column .praise { display: none; }
.praises_wrapper .column .praise:first-child { display: block; }
.praises_wrapper .two_columns { margin-bottom: 0; }
.news_links > ul { margin: 0 auto; }
.news_links li { margin-bottom: 30px; }
.news_links li img { display: block; width: auto; max-width: 100%; margin: 0 auto; }

/* Events */
.events .two_columns { margin-bottom: 46px; }
.events .events_years { padding: 7px 0 0; }
.events .events_years > li > .main_links { margin-bottom: 30px; }
.events .events_years ul { display: none; }
.events_list { padding-bottom: 0; }
.events_list li { padding-bottom: 38px; }
.events_list li:after { display: block; content: ''; clear: both; visibility: hidden; height: 0; }
.events_list .img { float: left; width: 146px; }
.events_list .text { margin-left: 174px; }
.events_list .date { padding-bottom: 9px; font: 18px/18px 'Montserrat', Helvetica, Arial, sans-serif; color: #333; }

/* Videos */
.main_tags { padding-bottom: 44px; }
.videos main { padding-bottom: 50px; }
.videos .two_columns { margin-bottom: 0; width: 105%; }
.videos .two_columns .column { margin-bottom: 43px; display: inline-block; width: 46%; margin-right: 2.8%; margin-left: 0; vertical-align: top; float: none; }
.videos .video_wrapper { padding: 0; }
.videos .video_wrapper .video_thumb { cursor: pointer; }
.videos .video_wrapper .hidden_video { display: none; }
.videos .video_wrapper .video > *, .videos .video_wrapper .video iframe { max-width: 100%; }

/* Contact */
.contact .two_columns { margin-bottom: 45px; }
.contact_links { padding: 12px 0 21px; line-height: 36px; }
.contact_links li { padding-bottom: 22px; position: relative; }
.contact_links a { display: inline-block; text-decoration: none; color: #666; position: relative; z-index: 0; }
.contact_links a:hover { color: #733b77; }
.contact_links .soc { float: left; margin-right: 18px; }

/* FOOTER */
footer { position: relative; padding: 36px 0 25px; }
footer, footer h4 { font: 12px/15px 'Montserrat', Helvetica, Arial, sans-serif; color: #666; }
footer a { color: #666; }
footer a:hover { text-decoration: none; color: #733b77; }
footer h4 { padding-bottom: 5px; font-weight: bold; }
footer p { line-height: 20px; }
.f_top:after { content: "."; display: block; clear: both; visibility: hidden; height: 0; }
.f_top > div { float: left; width: 15.7%; margin-left: 1.5%; }
.f_top > div:first-child { margin: 0; }
.f_top > div.f_contact { width: 20%; }
.f_top > div.f_social { float: right; width: 13.9%; }
.f_top > div.f_br { display: none; }
.f_top .strong { font-weight: bold; }
.f_top li { padding-bottom: 5px; }
.f_top .f_contact h4 { padding-bottom: 3px; }
.f_top .f_social .soc { line-height: 15px; font-size: 15px; }
.f_top .f_social, .f_top .f_social a { text-decoration: none; color: #959595; }
.f_top .f_social ul { padding-top: 9px; }
.f_top .f_social li { float: left; margin-left: 8px; }
.f_top .f_social li:first-child { margin: 0; }

/*------------------ Responsive styles -----------------*/
@media all and (max-width: 1150px) {
  header, main, footer { width: 900px; }
  
  .books_slider .prev, .books_slider .next { left: -24px; }
  .books_slider .next { left: auto; right: -24px; }
}

@media all and (max-width: 1023px) {
  body { font-size: 16px; }
  
  h1, h2.h1 { padding-bottom: 12px; line-height: 34px; font-size: 26px; }
  h2 { padding-bottom: 11px; font-size: 24px; }
  h3 { line-height: 26px; font-size: 17px; }
  .soc.fb, .soc.tw { line-height: 30px; font-size: 30px; }
  
  #page_wrapper2 { padding: 0; }
  #header_wrapper { height: 140px; }
  #footer_wrapper { height: auto; margin: 0; }
  header, main, footer { width: auto; margin: 0 4%; }
  .books_slider .prev, .books_slider .next { display: none !important; }
  
  header { padding-top: 28px; }
  .h_logo { line-height: 42px; font-size: 42px; }
  .h_nav li { padding: 0 15px 0 19px; line-height: 19px; font-size: 16px; }
  
  main { padding: 45px 0 0; line-height: 28px; }
  .simple_text, .two_columns2 { margin-bottom: 37px; }
  main p, main blockquote, main ol, main ul, .simple_text img, .two_columns2 img, .two_columns2 .video { padding-bottom: 25px; }
  main blockquote { line-height: 31px; font-size: 21px; }
  
  .main_links  { font-size: 16px; }
  .gray_links.type2 li { margin: 0 0 8px; }
  .two_columns > div { float: left; width: 48%; margin-left: 4%; }
  .two_columns2 > div { width: 65.1%; margin-left: 3.3%; }
  
  .home_events .img, .home_events .video { margin-bottom: 14px; }
  .about .main_links { margin: 15px 0 25px; }
  .books .two_columns, .events .two_columns, .praise { margin-bottom: 20px; }
  .books_list { padding-bottom: 20px; }
  .books_list > li { padding-bottom: 55px; }
  .awards_list { margin: 27px 0 40px; }
  .events_list .date { padding-bottom: 8px; line-height: 16px; font-size: 16px; }
  .contact .two_columns  { margin-bottom: 15px; }
  .contact_links { padding: 12px 0 5px; line-height: 30px; }
  
  footer { padding-bottom: 60px; }
}

@media all and (max-width: 950px) {
  .books_list .img { float: left; width: 200px; padding-top: 5px; }
  .books_list .text { margin-left: 230px; }
  
  .f_top > div, .f_top > div.f_contact , .f_top > div.f_social  { float: left; width: 30%; margin-left: 5%; }
  .f_top > div.f_br { display: block; clear: both; }
  .f_top > div.f_contact, .f_top > div.f_social  { margin-top: 30px; }
  .f_top > div.f_contact  { margin-left: 0; }
}

@media all and (max-width: 767px) {
  body { font-size: 18px; }
  .d_hidden { display: block; }
  .two_columns .column:nth-child(3) { display: none; }
  
  h1, h2.h1 { padding-top: 20px; padding-bottom: 13px; line-height: 37px; font-size: 29px; }
  h2 { padding-bottom: 13px; font-size: 26px; }
  h3 { padding-bottom: 3px; line-height: 30px; font-size: 18px; }
  .soc.fb, .soc.tw { line-height: 36px; font-size: 36px; }
  
  header, main, footer { width: auto; margin: 0 3.5%; }
  
  #header_wrapper { background: #fff; position: fixed; left: 0; right: 0; top: 0; height: 62px; border-color: #eee; z-index: 10; }
  header { padding-top: 21px; text-align: left; }
  .h_logo { line-height: 26px; font-size: 26px; }
  .show_nav { display: block; position: absolute; right: -7px; top: 12px; padding: 7px; }
  .show_nav span { background: #7c7c7c; display: block; position: relative; margin: 11px 0; width: 44px; height: 4px; }
  .show_nav span:before { background: #7c7c7c; content: ''; position: absolute; left: 0; right: 0; top: -11px; height: 4px; }
  .show_nav span:after { background: #7c7c7c; content: ''; position: absolute; left: 0; right: 0; bottom: -11px; height: 4px; }
  .h_nav_wrapper { background: rgba(51,51,51,.5); display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 20; }
  .h_nav { position: absolute; background: #fff; float: none; right: 0; bottom: 0; top: 0; bottom: 0; width: 100%; min-width: 250px; max-width: 400px; height: auto; margin: 0 auto; padding: 40px 0; /* text-align: center; */ line-height: 24px; font-size: 22px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #fff; padding: 67px 0 20px; border-left: 1px solid #999; }
  .h_nav .close { display: block; position: absolute; right: 20px; top: 20px; padding: 5px; width: 25px; height: 25px; background-position: center; z-index: 1; background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%222%202%2012%2012%22%20enable-background%3D%22new%202%202%2012%2012%22%3E%3Cg%20fill%3D%22%23333%22%3E%3Cpath%20d%3D%22M3.265%2014L14%203.265%2012.735%202%202%2012.735M2%203.265L12.735%2014%2014%2012.735%203.265%202%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E'); background-repeat: no-repeat; }
  /* .h_nav .close:before { background: image-url('misc.png') no-repeat; background-size: 19px 20px; display: block; content: ''; width: 19px; height: 20px; } */
  .h_nav ul { /* width: 75%; margin: 0 auto; */ }
  .h_nav li { display: block; margin: 0; padding: 0; margin-bottom: 0; font-size: .75em; font-weight: 600; text-transform: uppercase; border-bottom: 1px solid #ddd; }
  .h_nav li:before { display: none; }
  .h_nav li a { display: block; line-height: 18px; font-size: 18px; padding: 14px; }
  
  main { padding-top: 62px; line-height: 30px; }
  main p, main blockquote, main ol, main ul { padding-bottom: 30px; }
  
  .two_columns, .books_slider, .images_slider, .praises_wrapper, .news_links, .events_years, .praise { margin-bottom: 30px; }
  .simple_text, .two_columns2 { margin-bottom: 0; }
  .two_columns > div, .two_columns > div:first-child, .two_columns2 > div, .two_columns2 > div:first-child { float: none; width: 100%; margin: 0; }
  .simple_text .column > img, .two_columns2 .column > img, .books_slider, .social_messages, .awards_list, .praises_wrapper { width: 107.5%; margin-left: -3.76%; }
  .simple_text img, .two_columns2 img, .video_wrapper { padding: 0; }
  .two_columns2 .video { padding: 0 0 40px; }
  
  .books_slider { height: 446px; margin-top: 43px; padding-bottom: 30px; }
  .books_slider .slider_wrapper ul { padding: 0; }
  .books_slider .slider_wrapper { padding-left: 3.5%; }
  .books_slider .slider_nav { display: block; position: absolute; left: 0; right: 0; bottom: 0; height: 13px; line-height: 13px; text-align: center; }
  .books_slider .slider_nav ul { padding-bottom: 0; }
  .books_slider .slider_nav li { display: inline-block; margin: 0 3px; }
  .books_slider .slider_nav li a { display: block; width: 11px; height: 11px; border: 1px solid #cdcdcd; border-radius: 11px; }
  .books_slider .slider_nav li.active a, .books_slider .slider_nav li.selected a { background: #d9d9d9; border-color: #d9d9d9; }
  .images_slider { height: 276px; }
  
  .social_messages .column { padding-top: 20px; }
  .social_messages .column:first-child { padding-top: 0; }
  .social_messages p { padding-bottom: 38px; }
  .home_events { margin-top: 30px; padding: 13px 13px 11px; }
  .home_events:first-child { margin-top: 10px; }
  .home_events .video { margin-bottom: 11px; }
  
  .about .main_links { margin: 0 0 40px; }
  .awards_list { margin-top: 0; margin-bottom: 30px; padding: 33px 10% 15px; }
  .book_feature .gray_links li.middle:before { display: block; }
  .book_feature .gray_links .new_line { display: none; }
  .praises_wrapper { margin-bottom: 60px; }
  .praises_wrapper h2, .praises_wrapper .main_links, .praises_wrapper .praise { padding-left: 3.5%; padding-right: 3.5%; }
  .videos h1 { padding-bottom: 25px; }
  .main_tags { padding-bottom: 30px; }
  .videos .two_columns { margin: 0; width: auto; }
  .videos .video_wrapper { padding: 0; }
  .videos .two_columns .column { width: 100%; }
  .videos .two_columns .column:nth-child(3) { display: block; }
  
  .f_top > div.f_contact  { width: 65%; }
}

@media all and (max-width: 680px) {
  .books_list > li { padding-bottom: 60px; }
  .books_list .img { float: none; width: 228px; margin: 0 auto 40px; padding: 0; }
  .books_list .text { margin: 0; }
  .books_list .gray_links { padding-bottom: 38px; }
}

@media all and (max-width: 580px) {
  .events_list li { padding-bottom: 60px; }
  .events_list .img { float: none; margin-bottom: 30px; }
  .events_list .text { margin: 0; }
  .events_list .date { padding-bottom: 9px; line-height: 18px; font-size: 18px; }
  .f_top > div, .f_top > div.f_contact , .f_top > div.f_social  { width: 27%; }
}

@media all and (max-width: 520px) {
  footer { position: relative; padding: 28px 0 35px; }
  .f_top > div, .f_top > div.f_contact , .f_top > div.f_social  { float: none; width: auto; margin: 12px 0; }
}