
= admin_form_for [:admin, @user] do |f|
  = f.text_field :username
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_confirmation, label: "Confirmation", placeholder: "Password confirmation", "data-required" => true

  = f.actions
  - content_for :script, f.validate
