
.col-md-12
  .table-toolbar
    .btn-group
      %a.btn.btn-success{ :href => new_admin_user_path }
        Add New
        %i.fa-plus

  %table#data-table

- content_for :script do
  :javascript
    var d = datatables('#data-table', '/admin/users');
    d.init({
      aoColumns: [
        {sTitle: "Username", sWidth: "50%"},
        {sTitle: "Email", sWidth: "50%"},
        d.columns.actions({toggle: false, callback: function(row, button) {
          return row.username != 'admin';
        }})
      ]
    });
