<% menu = menu_builder %>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8" />
   <title><%= @page_title || ("Admin " + Site.site_name) %></title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta name="MobileOptimized" content="320" />
   <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
   <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
   <link href="/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <link href="/admin/dist/css/admin.min.css" rel="stylesheet" type="text/css" />
   <link href="/admin/themes/jo.css" rel="stylesheet" type="text/css" />
   <!--link href="/admin/main.css" rel="stylesheet" type="text/css" /-->
   <link href="/admin/assets/fonts/font.css" rel="stylesheet" type="text/css" />
   
   <%= stylesheet_link_tag "admin" %>
   <%= csrf_meta_tag %>
</head>
<body class="page-boxed">
  <!-- BEGIN HEADER -->
  <div class="header navbar navbar-static-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner container">
      <!-- BEGIN LOGO -->  
      <div class="page-logo">
        <a href="/admin"><%= image_tag("/admin/logo.png", class: "img-responsive", alt: "logo") %></a>
      </div>
      <!-- END LOGO -->
      <!-- BEGIN RESPONSIVE MENU TOGGLER --> 
			<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<img src="/admin/assets/img/menu-toggler-black.png" alt="" />
			</a> 
			<!-- END RESPONSIVE MENU TOGGLER -->
      <!-- BEGIN TOP NAVIGATION MENU -->
      <ul class="nav navbar-nav pull-right">
        <li class="devider">&nbsp;</li>
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <!--img alt="" src="/assets/img/avatar3_small.jpg" style='opacity:0'/-->
            <span class="username"><%= current_user.username %></span>
            <i class="fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="<%= edit_admin_user_path(current_user) %>"><i class="fa-user"></i> Account</a></li>
            <li class="divider"></li>
            <li><a href="/admin/logout" data-method="delete"><i class="fa-key"></i> Log Out</a></li>
          </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
      </ul>
      <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
  </div>
  <!-- END HEADER -->
  <div class="clearfix"> </div>

  <!-- BEGIN CONTAINER -->
  <div class="container">
    <div class="page-container">
      <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
          <!-- BEGIN SIDEBAR MENU -->        
          <ul class="page-sidebar-menu">
            <li>
              <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
              <div class="sidebar-toggler"></div>
              <div class="clearfix"></div>
              <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <%= menu %>
          </ul>
          <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
      </div>

      <div class="page-content-wrapper">
        <!-- BEGIN PAGE -->
        <div class="page-content">
          <!-- BEGIN PAGE HEADER-->
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title">
            <%= @title %>
            <% if @title_small %>
              <small><%= @title_small %></small>
            <% end %>
          </h3>
          <div class="page-bar">
            <ul class="page-breadcrumb">
              <%= breadcrumbs %>
            </ul>
            <div class="page-toolbar">
              <%= yield :page_toolbar %>
              <% if @page_node && @page_node.active && path_for(@page_node).present? %>
                <a href="<%= path_for(@page_node) %>" target="_blank" class="pull-right tooltips btn btn-fit-height btn-info">
                  View Page
                </a>
              <% end %>
            </div>
          </div>

          <div class="row">
            <!-- END PAGE TITLE & BREADCRUMB-->
            <% if flash[:notice] %>
              <div class="alert alert-success">
                <strong>Success!</strong>
                <%= flash[:notice] %>
              </div>
            <% end %>
            <% if flash[:error] %>
              <div class="alert alert-danger">
                <strong>Error!</strong>
                <%= flash[:error] %>
              </div>
            <% end %>
          </div>
          <!-- END PAGE HEADER-->

          <!-- BEGIN PAGE CONTENT-->
          <div class="row">
            <%= yield %>
          </div>
          <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE -->
      </div>
    </div>

    <div class="footer">
      <div class="footer-inner">
      </div>
      <div class="footer-tools">
        <span class="go-top">
        <i class="fa-angle-up"></i>
        </span>
      </div>
    </div>
  </div>
  <!-- END CONTAINER -->
  
  <script>window.CKEDITOR_BASEPATH = "/admin/ckeditor/";</script>
  <%= javascript_include_tag "admin", "/admin/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min", "ui.multiselect", "/admin/dist/js/admin.min", "/admin/main", "/admin/ckeditor/ckeditor" %>
  <script>App.init();</script>
  <%= yield :script %>
</body>
</html>
