!!!
%html{ lang: "en" }
  %head
    %title= get_title
    %meta{ charset: "UTF-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }/
    %meta{ name: "SKYPE_TOOLBAR", content: "SKYPE_TOOLBAR_PARSER_COMPATIBLE" }/
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }/
    %meta{ name: "viewport", content: meta_viewport }/
    - if @page
      %meta{ name: "description", content: @page.meta_description }/
      %meta{ name: "keywords", content: @page.meta_keywords }/
        
    - cache :icons do
      - Icon.all.each do |icon|
        - next if icon.un == "favicon" || !icon.icon?
        %link{ rel: icon.un.gsub("_", "-"), sizes: "#{icon.width}x#{icon.height}", href: icon.filename }/
        
    %link{ rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon" }/
    
    = stylesheet_link_tag "application", media: "all"
    /[if lte ie 8]
      = stylesheet_link_tag "ie8", media: "all"
    
    - @nodes ||= Node.joins(:page).where(node_id: nil, active: true)
    :javascript
      var is_mobile = #{(@is_mobile || browser.mobile?).to_json}, is_ios = #{((browser.tablet? || browser.mobile?) && browser.safari?).to_json}, is_tablet = #{browser.tablet?.to_json}, is_ie8 = #{browser.ie8?.to_json};
    
    = javascript_include_tag "application", media: 'all'
          
    = csrf_meta_tags
    
    != Settings.webmaster
    
    = yield :head
    
    - if browser.tablet? || browser.mobile?
      :css
        * {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        input {
          -webkit-touch-callout: initial;
          -webkit-user-select: initial;
          -khtml-user-select: initial;
          -moz-user-select: initial;
          -ms-user-select: initial;
          user-select: initial;
        }
    
  %body{ class: body_class }
    #fb-root
    :javascript        
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '492591327588665',
          cookie     : true,  // enable cookies to allow the server to access the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.2' // use version 2.2
        });
      };
        
      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    #page_wrapper
      #page_wrapper2

        #header_wrapper
          %header
            %a.h_logo{ href: '/' } Alondra Nelson
            %a.show_nav{ href: '#' }
              %span
              
            .h_nav_wrapper
              .h_nav
                %a.close{ href: '#' }
                %ul
                  %li{ class: cp(/\A\/$/) }= link_to "Home", "/"
                  %li{ class: cp(/^\/about/) }= link_to "About", "/about"
                  %li{ class: cp(/^\/books/) }= link_to "Books", "/books"
                  %li{ class: cp(/^\/events/) }= link_to "Events", "/events"
                  - if blog_node = Node.find_by_un(:blog_link)
                    - if blog_node.active && blog_node.link_url?
                      %li= link_to "Blog", blog_node.link_url, target: "_blank"
                  %li{ class: cp(/^\/videos/) }= link_to "Videos", "/videos"
                  %li.last{ class: cp(/^\/contact/) }= link_to "Contact", "/contact"
                  
        %main= yield
        
    #footer_wrapper            
      %footer
        .f_top
          - footer = Node.find_by_un(:footer)
          - footer_settings = footer.settings
          - (1..4).each do |i|
            - if footer_settings.send("column#{i}").present?
              %div!= footer_settings.send("column#{i}")
                
          .f_social
            %h4 Get Social
            %ul
              - [:fb, :tw, :in, :yt].each do |s|
                - if footer.get_social(s).present?
                  %li= link_to "", footer.get_social(s), target: "_blank", class: "soc #{s}"
    
    #video_modal
      .modal_overlay
      %a.close{ href: '#' }
      .video
      
    = yield :script
    
    != Settings.google_analytics
    