!!!
%html{ lang: "en" }
  %head
    %title Galcon Construction
    %meta{ charset: "UTF-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }/
    %meta{ name: "SKYPE_TOOLBAR", content: "SKYPE_TOOLBAR_PARSER_COMPATIBLE" }/
    %meta{ name: "viewport", content: meta_viewport }/
    %link{ rel: "shortcut icon", href: "favicon.ico", type: "image/x-icon" }/
    
    = stylesheet_link_tag "application", media: "all"
    
    = csrf_meta_tags
    
    :css
      .logoAndMenuWrapper { margin: 11px }
      .contacts-info { height: 300px; margin-bottom: 20px; }
      .contacts-text { width: auto }

  %body.gBody
    .pageWrapper
      .logoAndMenuWrapper
        = image_tag "logo.jpg", alt: "Galcon Construction", width: 130
      
    = yield
    
