<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Login</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<meta name="MobileOptimized" content="320">
  <link href="/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/admin/dist/css/admin.min.css" rel="stylesheet" type="text/css" />
  <link href="/admin/assets/fonts/font.css" rel="stylesheet" type="text/css" />
	<link href="/admin/assets/css/pages/login.css" rel="stylesheet" type="text/css" />
  <link href="/admin/main.css" rel="stylesheet" type="text/css" />
	<%= csrf_meta_tag %>
</head>
<body class="login">
	<div class="logo">
		<img src="/admin/logo.png" alt="" />
	</div>
	<div class="content">
	  <%= yield %>
	</div>
		
  <%= javascript_include_tag "admin", "/admin/dist/js/admin.min", "/admin/main" %>
  <script>App.init();</script>
  <%= yield :script %>
</body>
</html>